.*.sw*
.sass-cache
.DS_Store
node_modules/
_site/
/.idea/
.jekyll-metadata
.tmp
linkchecker.html

* text=auto
/content/css/site.css
/content/css/site.min.css
/content/docs/v3/css/styles.css
/content/docs/v3/css/styles.min.css
/content/css/creator.css
/content/css/creator.min.css
/content/css/bootstrap/bootstrap.css
/content/docs/data/index.json
/content/docs/v3/js/ionic-site.js
/content/docs/v3/js/ionic-site.min.js
/content/docs/v3/js/ionic-site-components/
/.env
/content/_includes/head_includes.prod.html
/content/_includes/fluid/footer_tags.prod.html
/content/_includes/fluid/head.prod.html
/.vscode
/package-lock.json
/null
/content/docs/v3/sitemap.xml
/content/docs/v3/js/stencil
/.stencil
content/css/p*
